# Deprecated NX monorepo
deprecated/

# Next
.next/

# Yarn
.yarn/

# Built Output
packages/mpc-ecdsa-wasm/src/

# MSW
mockServiceWorker.js

# Playwright
/apps/web/test-results/
/apps/web/playwright-report/
/apps/web/blob-report/
/apps/web/playwright/.cache/
