@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background-main h-full;
    scroll-behavior: smooth;
  }

  body {
    @apply flex h-full flex-col;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  :root {
    --background-main: theme("colors.slate.900");
    --background-primary: #32c9af;
    --background-primary-hover: #2ab69c;
    --background-primary-active: #32c9af;
    --background-primary-disabled: #2ab69c;
    --background-secondary: theme("colors.slate.900");
    --background-select: theme("colors.gray.700");
    --background-select-hover: theme("colors.gray.800");
    --background-select-active: theme("colors.gray.950");
    --background-select-disabled: theme("colors.gray.700");

    --foreground-primary: theme("colors.white");
    --foreground-primary-border: theme("colors.zinc.800");
  }
}
